@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap");
body {
  background-color: rgb(159, 206, 211);
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}